# Java
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# Logs
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Azurite
__azurite_db_*.json
# Local settings
local.settings.json